[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

alembic = "==0.9.5"
appnope = "==0.1.0"
awsebcli = "==3.11.0"
Babel = "==2.5.1"
"backports.functools_lru_cache" = "==1.4"
"backports.shutil_get_terminal_size" = "==1.0.0"
"beautifulsoup4" = "==4.6.0"
blessed = "==1.14.2"
blinker = "==1.4"
botocore = "==1.7.25"
cement = "==2.8.2"
certifi = "==2017.7.27.1"
chardet = "==3.0.4"
click = "==6.7"
colorama = "==0.3.7"
coverage = "==4.4.1"
Cycler = "==0.10.0"
dataset = "==1.0.2"
decorator = "==4.1.2"
docker-py = "==1.7.2"
dockerpty = "==0.4.1"
docopt = "==0.6.2"
docutils = "==0.14"
"enum34" = "==1.1.6"
Flask = "==0.12.2"
Flask-Babel = "==0.11.2"
Flask-Login = "==0.4.0"
Flask-Mail = "==0.9.1"
Flask-OpenID = "==1.2.5"
Flask-SQLAlchemy = "==2.3.0"
Flask-WhooshAlchemy = "==0.56"
Flask-WTF = "==0.14.2"
flipflop = "==1.0"
"functools32" = "==3.2.3.post2"
guess-language = "==0.2"
idna = "==2.6"
imutils = "==0.4.3"
ipython = "==5.5.0"
ipython_genutils = "==0.2.0"
itsdangerous = "==0.24"
"Jinja2" = "==2.11.3"
jmespath = "==0.9.3"
"Js2Py" = "==0.50"
Mako = "==1.0.7"
MarkupSafe = "==1.0"
matplotlib = "==2.1.0"
networkx = "==2.0"
normality = "==0.4.4"
numpy = "==1.13.3"
olefile = "==0.44"
"pathlib2" = "==2.3.0"
pathspec = "==0.5.0"
pbr = "==3.1.1"
pexpect = "==4.2.1"
pickleshare = "==0.7.4"
Pillow = "==4.3.0"
prompt_toolkit = "==1.0.15"
ptyprocess = "==0.5.2"
Pygments = "==2.2.0"
pyjsparser = "==2.5.2"
pyparsing = "==2.2.0"
pytesseract = "==0.1.7"
python-dateutil = "==2.6.1"
python-editor = "==1.0.3"
python-openid = "==2.2.5"
pytz = "==2017.2"
PyWavelets = "==0.5.2"
PyYAML = "==3.12"
requests = "==2.9.1"
scandir = "==1.5"
scikit-image = "==0.13.1"
scikit-learn = "==0.19.0"
scipy = "==0.19.1"
selenium = "==3.6.0"
semantic_version = "==2.5.0"
simplegeneric = "==0.8.1"
SQLAlchemy = "==1.1.14"
sqlalchemy-migrate = "==0.11.0"
sqlparse = "==0.2.4"
"subprocess32" = "==3.2.7"
tabulate = "==0.7.5"
Tempita = "==0.5.2"
termcolor = "==1.1.0"
tinydb = "==3.5.0"
traitlets = "==4.3.2"
tzlocal = "==1.4"
"urllib3" = "==1.22"
wcwidth = "==0.1.7"
websocket-client = "==0.44.0"
Werkzeug = "==0.12.2"
Whoosh = "==2.7.4"
wtforms = "==2.1"
